#__react-alert__ > div > div > div {
    min-width: 400px !important;
}
#__react-alert__ > div > div > div > span {
    text-transform:none;
}
body {
    margin: 0px;
}
#site-container {
    background-color: rgba(245, 245, 245, 0.623);
    min-height: 800px;
    height:100vh;
}