.pic-des-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:40px;
}

#select-marker {
    height: 20px;
}
.marker {
    position: absolute;
    transform: translate(-50%, -100%);
}
.pickup {
    font-size: 25px;
    color: rgb(228, 207, 91);
}
.dest {
    font-size: 25px;
    color: rgb(74, 127, 189);
}
.map-container {
    height: 500px;
    width: 485px;
    margin-top:30px;
    background:linear-gradient(0deg, rgba(75, 75, 75, 0.3), rgba(75, 75, 75, 0.3)),url("../imgs/map.jpg");
    background-position: center center;
    background-size: 104%;
    position: relative;
}